:root {
  --white: #ffffff;
  --black: #000000;
  --transparent: #0000;
  --blue: blue;
  --fiord: #4e5867;
  --grayish-white: #f2f2f2;
  --alice-blue: #f5fafe;
  --soltitude: #ecf1f5;
  --dark-soltitude: #f6f7f8;
  --neon-blue: #4c6df6;
  --dark-alice-blue: #f2f7ff;
  --green: #3ecd80;
  --red: #f5414f;
  --variation-red: #ff0000;
  --purple: #f5f0ff;
  --royal-purple: #563eb5;
  --mine-shaft: #333333;
  --onahau: #c6efff;
  --cornflower-blue: #4285f4;
  --bright-sun: #ffc746;
  --light-gray: #808080;
  --royal-blue: #6854e2;
  --fog: #e4ddff;
  --plane-blue: #c4b6ff;
  --success: #88c459;
  --success-bg: #d3f1e0;
  --color-error: #f5414f;
  --error: #e43d27;
  --warning: #ff7b06;
  --helper: #7a8994;
  --anchor: #3163e9;
  --highlight: #18c5aa;
  --light-blue: #d9f1fb;
  --verified: #6fcf97;

  --input-border: #e9e9e9;
  --input-border-focus: #7d7d7d;
  --input-placeholder: #9e9e9e;

  --text-dark: #393939;
  --text-light: #757575;
  --text-grey: #828282;

  --chips-grey: #f5f5f5;

  --disabled-txt: #9e9e9e;
  --disabled-bg: #868686;

  --layout-bg: #d4effb;
  --light-bg: #efefef;
  --error-bg: #fff3f3;

  //greeting banner colors for different time slot
  --morning-bg: #ffe5b1;
  --afternoon-bg: #d3f2ff;
  --evening-bg: #5e3ce1;

  //greeting banner text colors
  --morning-text: #ffd481;
  --afternoon-text: #a9e5ff;
  --evening-text: #7150f3;
  --selected: #e4f4fb;
  --selected-text: #227aeb;

  --quiz-bg: #ffd176;
  --light-blue-bg: #edf3fe;
  --header: #e4f4fb;
  //Lido logo gradient on login page
  --violet-blue: #7554f6;
  --white-blue: #9b8dfe;
  --sky-blue: #32a4ff;

  // text on card for class missed warning
  --warning-text: #e44848;

  --cross-container: #c0dce8;
  --scrollbar-thumb: #cfcfcf;

  // subject background colors
  --maths-bg: #efe8ff;
  --science-bg: #def7f4;
  --english-bg: #ffede3;
  --coding-bg: #fff5d9;
  --lidojr-bg: #eeecff;
  --default-bg: #e4f4fb;

  // subject text colors
  --maths-text: #7554f6;
  --science-text: #07d0b1;
  --english-text: #ee723c;
  --coding-text: #f0b213;
  --default-text: #227aeb;

  --maths-timetable: #7554f6;
  --science-timetable: #18c4aa;
  --english-timetable: #ee723c;
  --coding-timetable: #f5c038;
  --lidoJr-timetable: #7554f6;

  --popular-tag-text: #f65471;
  --popular-tag-bg: rgba(246, 84, 113, 0.15);

  --best-tag-text: #31a96e;
  --best-tag-bg: rgba(49, 169, 110, 0.15);

  --skeleton: #f7f7f7;
  --login-warning: #e44848;

  --silicon-background: #2b303e;
  --dotted: #eae3fb;
  --end-line: #3c4043;

  --calendar: #f3e8ff;
  //performance
  --header-background: #eee6ff;
  --clr-green: #2bad62;
  --bg-green: #e4f7ec;
  --clr-orange: #f8b024;
  --clr-red: #f16352;
  --bg-red: #fdecea;
  --chapter-box: #d3f1e0;

  --faux-maximum-blue-green: #2fbfc8;
  --rio-grande: #802dc2;
  --light-orchid: #da4fbb;
  --royal-orange: #fb7e50;
  --orange: #ffa800;
  --early-dawn: #fff6df;
  --ghost-white: #f0eeff;
  --light-fog: #dfd0ff;
  --solitude: #f4efff;
  --scholarship: #fcd267;
}
