:root {
  --font-poppins: Poppins;
  --font-roboto: Roboto;
  --font-roboto-regular: robotoregular;
  --font-roboto-sans: "Roboto", sans-serif;
  --font-poppins-sans: "Poppins", sans-serif;
  --bold: 700;
  --font-medium: 500;
  --font-bolder: 700;
  --text-xxxs: 10px;
  --text-xxs: 12px;
  --text-xs: 14px;
  --text-sm: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-xxl: 28px;
  --text-H3: 30px;
  --text-H2: 32px;
  --text-H1: 36px;
  --text-H0: 44px;
}
